# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo-server*.log

# Environment
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.tmp/
